header {
  position: fixed;
  top:0;
  border: 1px solid #AAB8C2;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI","Helvetica Neue", sans-serif;
  background: white;
}

ul {
 display: flex;
 justify-content: center;
 align-self: center;
 list-style: none;
 flex:0 1 400px;
 padding: 0;
 margin: 0;
}

li img {
  height: 50px;
  margin: 0;
  cursor: pointer;
}

input {
  flex: 0 0 400px;
  background: #E1E8ED;
  border-radius: 20px;
  border: 1px solid #AAB8C2;
  height: 20px;
  padding: 20px;
  font-size: 15px;
  background-image: url("/images/search-grey.png");
  background-size: 30px;
  background-position: left;
  background-repeat: no-repeat;
  text-indent: 25px;
}

.user{
  flex-basis: 250px;
  display: flex;
  align-items: center;
}

.user img{
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

header .user img {
  height: 40px;
  width: 40px;
}

@media (max-width: 990px) {
  header{
    flex-direction: column;
  }
  input{
    display: none;
  }
  .user{
    order: 1;
    flex-basis: 50px;
  }
  ul{
    order: 2;
    justify-content: space-between;
    flex-direction: row;
    flex-basis: 100%;
    width: 100vw;
    max-width: 600px;
    flex-shrink: 1;
  }

  header ul li {
    display: flex;
    justify-content: center;
  }

  header .user{
    box-sizing: border-box;
    margin-top: 8px;
    width: 100vw;
    max-width: 600px;
    padding-left: 10px;
    justify-content: flex-start;
  }
}
