main{
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 62px;
}

img {
  margin: 10px;
}

.side {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px;
  flex:1.5;
  background-color: #E1E8ED;
}

.sideFlexCont {
  display: flex;
  flex-flow: column nowrap;
  height: 620px;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  flex: 2.5;
  background-color: #E1E8ED;
}

.main .user div {
  display: flex;
}
.main .user div > * {
  margin: 5px;
}

content{
  width:600px;
  background: white;
  margin-right: 20px;
}

.writeTweet{
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #AAB8C2;
  padding: 15px;
}

.writeTweet img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin: 5px;
}

.writeTweet input {
  flex: 1 0 300px;
}


.followSuggestion {
  background: white;
  width: 350px;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.followSuggestion h2 {
  margin: 0;
  border-bottom: 1px solid #AAB8C2;
  font-size: 20px;
  font-weight: bolder;
  padding: 7px;
}

.followSuggestion ul {
  display:flex;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
  flex: 1;
  margin: 0;
}

.followSuggestion ul li {
  flex: 1;
  border-bottom: 1px solid #AAB8C2;
  display: flex;
  padding-left: 5px;
  align-items: center;
}

.followSuggestion ul li img {
  margin: 5px;
}

.followSuggestion ul li p {
  margin: 0;
  margin-left: 5px;
}

.displayTweets ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex:0 1 400px;
  padding: 0;
  margin: 0;
}

.displayTweets li {
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 1px solid #AAB8C2;
  padding: 15px;
}

.user{
  padding: 0;
  justify-content:flex-start;
}

.main .user {
  align-items: flex-start;
}

.tweetText {
  margin-left: 55px;
  margin-top: -20px;
}

.tweetInteractions {
  display: flex;
}

.tweetInteractions p {
  flex: 1;
  text-align: center;
}


@media (max-width: 990px) {
  .side, .writeTweet{
    display: none;
  }
  .main {
    padding-top: 0;
    justify-content: center;
  }
  content {
    margin-right: 0;
  }
  main{
    margin-top: 110px;
  }

}

@media (max-width: 600px) {
  content{
    width: 100vw;
  }

}
